.container-home{
  margin: 60px;
  border-radius: 10px;
  height: 400px;
  background-color: white;
}

.main-home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 50vh;
}

.main-home h1{
  margin: 10px auto;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}

.main-home h3{
  margin: 15px auto;
  color: rgb(97, 71, 97);
  font-size: 20px;
}

.main-home p{
  color: rgb(22, 21, 21);
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.main-home svg{
  color: rgb(112, 58, 173);
  margin: 20px auto;
}

.portfolio{
  background-color: rgba(0, 0, 0, 0.801);
  border-radius: 10px;
  height: 265px;
}

.projects{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  color: white;
}

.projects-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: white;
}

.projects-intro h2{
  display: flex;
  color: white;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}

.calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.calculator a{
    display: flex;
    background-color: rgb(107, 221, 221);
    font-family: 'Roboto', sans-serif;
    height: 30px;
    padding: 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
    margin-top: 20px;
}

.link a{
  display: flex;
  background-color: rgb(107, 221, 221);
  font-family: 'Roboto', sans-serif;
  height: 30px;
  padding: 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid black;
  margin-top: 20px;
}

.weather a{
  display: flex;
  background-color: rgb(107, 221, 221);
  font-family: 'Roboto', sans-serif;
  height: 30px;
  padding: 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid black;
  margin-top: 20px;
}

.pricing a{
  display: flex;
  background-color: rgb(107, 221, 221);
  font-family: 'Roboto', sans-serif;
  height: 30px;
  padding: 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid black;
  margin-top: 20px;
}

.main-home img{
  margin-top: 20px;
  border-radius: 10px;
}

.projects svg{
  margin-top: 10px;
}

@media (max-width: 604px){
  .projects span{
    font-size: 13px;
  }

  .projects a{
    font-size: 13px;
  }

}